{% extends "base.html" %}

{% block title %}Create Session{% endblock %}

{% block content %}
{% load widget_tweaks %}
<style>
    .centered-form {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Full height of the viewport */
        padding: 2rem 0; /* Padding to avoid overlap with header and footer */
    }

    /* FadeIn Animation */
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    .fade-in {
        animation-name: fadeIn;
        animation-duration: 2s; /* Duration of the animation */
        animation-fill-mode: forwards; /* Keeps the element in the state after the animation ends */
    }

    .form-container {
        max-width: 800px;
        width: 100%;
        margin: auto; /* Center align */
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-control {
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
    }

    .form-text {
        font-size: 0.75rem;
    }

    .alert-danger {
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
    }
</style>

<div class="container-fluid centered-form">
    <div class="form-container bg-white p-5 rounded shadow fade-in">
        <h2 class="text-center mb-4">Found a Startup</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                {% for field in form %}
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            {{ field|add_class:"form-control" }}
                            <small class="form-text text-muted">{{ field.label }}</small>
                            {% if field.errors %}
                                <div class="alert alert-danger mt-2">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary w-100 nav-color">Found Startup</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const inputs = document.querySelectorAll('.form-control');
        inputs.forEach(input => {
            input.addEventListener('input', function() {
                if (this.value.trim()) {
                    this.classList.remove('is-invalid');
                    this.nextSibling.classList.remove('text-danger');
                } else {
                    this.classList.add('is-invalid');
                    this.nextSibling.classList.add('text-danger');
                }
            });
        });
    });
</script>
{% endblock %}
